@model SportsNews.Data.NewsArticles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsArticles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>

        <dd>
            <h3>@Html.DisplayFor(model => model.Headline)</h3>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>   

        <dt>
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
